<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">pololopo</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/eatown</property>
        <property name="hibernate.connection.username">raphael</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <mapping class="be.relin.eatown.bean.Avatar"></mapping>
        <mapping class="be.relin.eatown.bean.Chaine_resto"></mapping>
        <mapping class="be.relin.eatown.bean.Commentaire"></mapping>
        <mapping class="be.relin.eatown.bean.Country"></mapping>
        <mapping class="be.relin.eatown.bean.Droit"></mapping>
        <mapping class="be.relin.eatown.bean.Group"></mapping>
        <mapping class="be.relin.eatown.bean.Logo"></mapping>
        <mapping class="be.relin.eatown.bean.Photo"></mapping>
        <mapping class="be.relin.eatown.bean.Resto"></mapping>
        <mapping class="be.relin.eatown.bean.Tag"></mapping>
        <mapping class="be.relin.eatown.bean.Town"></mapping>
        <mapping class="be.relin.eatown.bean.Utilisateurs"></mapping>
    </session-factory>
</hibernate-configuration>
